*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;   
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Supermercado+One&display=swap');
p{
    color: #5f5f61;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 4px;
    line-height: 20px;
    text-align: justify;
}
h1{
    opacity: 0.8;
    color: #272727;
    font-family: 'Montserrat', sans-serif; 
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 3px;
}
h2{
    opacity: 0.8;
    color: #272727;
    font-family: 'Montserrat', sans-serif; 
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 3px;
} 
h5,h3{
    color: #5f5f61;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    opacity: 0.8;
    letter-spacing: 1px; 
}
h4{
    font-family: 'Montserrat', sans-serif; 
    color: #4e4e4e;
    font-weight: 550;
    letter-spacing: 1px;
}

a{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    color: #5f5f61; 
    font-size: 14px; 
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid #f4cc7f;
}
select, input{
    font-weight: 500;
    color: #5f5f61; 
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    opacity: 0.8;
    border: 2px solid #e9e9eeb6; 
    font-size: 16px;
    border-radius: 20px;
    box-shadow:   0 0 10px rgba(235, 231, 231, 0.5);
    width: 170px;
    height: 40px;
}
label{
    
    color: #5f5f61; 
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 7px; 
    font-weight: 500;
}
.header{
    width: 100%;
    height:auto;
    background-color: rgba(167, 164, 164, 0.2);   
}
.headerinner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.headerinner .icon{
    z-index: -1;
    opacity: 0.7;

}
.navbody{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.star::after{
    content: "⭐";
}

.nav a{  
    font-size: 12px; 
    padding-right: 10px;
}

.nav1{
    margin-top: 90px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.nav2, .nav3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}

.usd select{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 90px;
    height: 40px;
    border-radius: 36%;
}
.nav2 div a, .nav3 div a{
    font-size: 16px;
    margin-right: 40px;
}


.form{
    margin-top: 60px;
    height: auto;
    width: 950px;
}
    
.formbig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nav4{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav5{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.nav6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Price{
    color: white;
}
.nav7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formbig button{
    padding: 13px;
    display: flex;
    text-align:center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 30px;
}
.main{
    padding: 20px;
    padding-right: 40px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
    height: auto;
    border: 2px solid #e9e9eeb6;
    border-radius: 20px;
    box-shadow:   0 0 10px rgba(235, 231, 231, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.maininner{
    display: flex;
    flex-direction: column;
    flex-grow: 1.2;

}
.mainImg{
    width: 400px;
    margin-right: 40px;
    height: auto;
    flex-grow: 1;
}
.mainInnertitle{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.Code{
    display: flex;
    flex-direction: row;
}

.mainInner1{
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.Rent{
    display: flex;
    justify-content: flex-end;
}
button{
    width: 100px;
    height: 45px;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #f4cc7f;
    background-color: #f4cc7f;
}
button:hover{
    cursor: pointer;
    background-color: #fabf53; 
}

.futer{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 25px;
    background-color: rgba(167, 164, 164, 0.2);
}
.futherinner{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.futherInner1{
    display: flex;
    flex-direction: column;
}
.futherInner1 .icon{
    z-index: -1;
    opacity: 0.7;
    padding-bottom: 20px;
}
.futherInner1 div p{
    padding: 5px;
    font-size:14px;;
    font-weight: 600;
    padding-left: 4px;
    
}
.futherInner1 div p span{
    opacity: 0.7; 
    padding-left: 4px;
}
.futersoc img{
    border-radius: 50%;
    margin-right: 5px;
}
.futersoc p{
    opacity: 0.8; 
    padding-left: 4px;
}


@media screen and (max-width: 1412px){
    .headerinner{
        width: 100%;
    }  
    .navbody{
        width: 100%;
        padding: 15px;
    }
    .form{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    .nav1{
        
        width: 100%;
        margin: 0 auto;   
        margin-top: 20px;
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content:start;
    }
    .nav2{
        margin-bottom: 10px;
    }
    .nav4, .nav6{
        margin: 10px;
        flex-direction: column;    
    }

    .search{
        margin: 0 auto;
        margin-top: 20px;
    }
    .search button{
        width: 360px;
    }

    .formbig{
        flex-direction: column;
    }
    .mainImg{
        margin: 0 auto;
        align-items: center;
        justify-content: center;

    }
   
    .futherinner{
        width: 100%;
    }    
}
   

.headerPaje1{
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.headerPaje1 img{
    width: 100%;
    height: auto;

}

.mainPaje1{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    height: auto;
}
.mainP p{
    text-align: center;
    
}

.mainInnerPaje{
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 80px;

}
.mainPageImg{
    width: 40%;
    border-radius: 20px;
    overflow: hidden;

}

.mainInnerP{
    width: 40%;
    text-align: justify;
    height: auto;
}
.mainInnerP p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.coll{
    width: 150px;
    border-radius: 30px;
}

@media screen and (max-width: 1400px){
    .mainPaje1{
        width: 100%;
        height: auto;
    }
    .mainPageImg{
        width: 90%;
    }
    .mainInnerP{
        margin-top: 20px;
        width: 90%;
    }
    .mainInnerPaje{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .mainInnerPaje.M{
        display: flex;
        flex-direction: column-reverse;
    } 
    .headerPaje1{
        margin-bottom: 30px;
    }
    .headerPaje1{
        margin-bottom: 30px;
    } 
}



.mainpage2{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.mainpage2Header{
    margin-top: 80px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bayron span{
    font-size: 24px;
    color: #5f5f61;
    font-family: 'Montserrat', sans-serif;
}

.mainpage2HeaderP1{
    color: #25ce7d;

}
.mainpage2img{
    width: 100%;
}
.slaid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px;


}
.btn_1{
 
    padding: 14px;
    text-align: start;
    width: 200px;
    height: 45px;
    background-color: #dfa53a; 
    border: none;
    border-radius: 25px;
    margin-bottom: 15px;
}

.btn_1:hover {
    background-color: #f4cc7f; 
    cursor: pointer;
}
.viber::before{
    content: "✆";
}
.viber{
    color: #000;
    font-weight: 600;

 
}

.map div{
    padding: 0;
}

.map div a{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 7px;

}
.map div a:hover{
    border-bottom: 2px solid #f5b846;
}

.page3bloc{
    width: 100%;
    border: 2px solid #e9e9eeb6;
    border-radius: 20px;
    box-shadow:   0 0 10px rgba(235, 231, 231, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 35px;
}
.page3bloc h3{
    margin-bottom: 20px;
    color: #000;

}
.page3bloc1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.mainFuter3{
    width: 100%; 
    height: auto;
    display: flex; 
    flex-direction: row;
    margin-bottom: 140px;
    margin-top: 100px;
}
.mainFuterColl{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.mainSoc{    
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.mainsoc img{
    margin-top: 10px;
    border-radius: 50%;
}
.sall{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


@media screen and (max-width: 1300px){
    .mainFuter3{

        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mainpage2{
        width: 96%;
        height: auto;
        margin: 5px auto;
        margin-left: 8px;
        margin-right: 8px;
        
        }
    .slaid{
        flex-wrap: nowrap;
    }
    .page3bloc{
        margin: 0 auto;
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
    }
    .page3bloc1{
        flex-direction: column;
    }
    .Feature{
        margin-bottom: 20px;
    }
    .mainpage2Header{
        margin-top: 30px;
    }
}


.video-1{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.arrow-up{
    border-bottom: solid 2px #f5be57;
}

.page5{
    width: 850px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 700px;

}
.page5iner{
    width: 420px;
    padding: 20px;
    margin-bottom: 30px;
}
.title{
    margin-bottom: 15px;
}
.titlesmol{
    margin-bottom: 10px;
}



  

@media screen and (max-width: 1300px){
    .page5{
        width: 100%;
    }
    
}


.page6{
    height: 1000px;
    width: 550px;
    margin: 0 auto;
    align-items: center;
    
    
}
.page6iner{
    line-height: 16px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 64px;
}
.page6iner div a span{
    font-size: 14px;

}

.page6 .title{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 24px;
    color: #37373a;
}
.page6title{
    padding-right: 102px;
}
.page6title p{
    font-weight:  bold;
    color: #141414;
    letter-spacing: 1px;
}
@media screen and (max-width: 1300px){
    .page6{
        margin: 8px;
    }
}

