*{
    padding: 0;
    margin: 0;
    font-family: 'Supermercado One', cursive;
    box-sizing: border-box
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgba(167, 164, 164, 0.2);
    display: flex;
    justify-content: space-between;

}
.icon{
    margin-top: 2px;
    margin-left: 15%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;

    
}
.nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 12px;  
    margin-right: 15%;
    margin-left: 50%;

}

a{
    text-decoration: none;
    font-size: 12px;
    color: #484849;
    padding-right: 10px;
    opacity: 0.7;
}
.star>img{
    width: 12px;
    height: 12px;
}
.nav1{
    margin-top: 90px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav2{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 15%;
}
.nav2>div>a{
    font-size: 16px;
    color: #484849;
    margin-right: 40px;
    opacity: 0.8;
}
.nav3{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 17%;
}
.nav3>div>a{
    font-size: 16px;
    color: #484849;
    margin-left: 40px;
    opacity: 0.8;
}
.nav2>div>a:hover{
    border-bottom: 2px solid #f4cc7f;
}
.nav3>div>a:hover{
    border-bottom: 2px solid #f4cc7f;
}
.nav3>div>select{
    border: 1px solid #7e7e81b6; 
    font-size: 16px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    margin-left: 40px;
    box-shadow: 0 0 10px rgba(167, 164, 164, 0.5);
    opacity: 0.8;
}

.form{
    position: relative;
    height: 180px;
    margin-left: 3%;
    margin-right: 13%;
}

.nav4{
    margin-top: 85px;
    margin-left: 15%;
    margin-right: 20%;
}
.nav4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav4>div{
    font-size: 14;
    color: #484849;
    opacity: 0.8;
}
.nav4>div>select{
    color:  #484849;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    opacity: 0.8;
    padding: 5px;
}
.nav5{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.nav6{
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav6>div{
    color: #484849;
    margin-top: 5px;
    opacity: 0.8;
    
}
.nav6>div>select{
    border: 1px solid #484849;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    opacity: 0.8;
    padding: 5px;
}
.nav6>div>input{
    border: 1px solid #484849; 
    width: 170px;
    height: 30px;
    border-radius: 20px;
    opacity: 0.8;
    padding: 5px;
    margin: 5px;
}
.nav6>div>.nav8{
    margin-top: 20px;

}
.search>button{
   top: 15px;
   width: 180px;
   border-radius: 30px;
   position: absolute;
}
.main{
    position: relative;
    margin-bottom: 80px;
    margin-top: 80px;
    height: 300px;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid #b0b0b3;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(167, 164, 164, 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainImg{
    margin: 25px;
    height: 100%;
    width: 100%; 
}

.mainInner1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    position: absolute;
    margin-left: 500px;
    
}
.mainInner1>p{
    color: #484849;
    font-size: 24px;
    padding-right: 10px;
    opacity: 0.8;
}
.mainInner1>p>span{
    font-size: 18px;
    margin-top: 4px;
    opacity: 0.6;
}
.mainInner2{
    padding-right:10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 480px;
    height: 180px;
    position: absolute;
}
h3{
    padding-bottom: 10px;
    color: #484849;
    font-size: large;
    opacity: 0.7;
    
}
h5{
    padding: 5px;  
    color: #484849; 
    opacity: 0.7;
}
h4{
    color: #25ce7d;
    font-weight: bold;
}
.mainInner2>div>p{
    padding: 5px;
    color: #484849;
    font-size:medium;
    font-weight: lighter;
    opacity: 0.8;
}
.mainInner2>div>p>span{
    opacity: 0.6; 
    padding-left: 4px;
}
button{
    width: 100px;
    height: 45px;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid #f4cc7f;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: #f4cc7f;  
    position: absolute;
    right: 50px;
    bottom: 40px;
}
button:hover{
    cursor: pointer;
}
.futer{
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    height: 180px;
    background-color: rgba(167, 164, 164, 0.2);
    position: relative;
}

.futer>.icon{
    margin-top: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
.futer>.futherInner1{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 110px;
    width:40%;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
}

.futherInner1>div>p{
    padding: 5px;
    color: #484849;
    font-size:14px;;
    font-weight: bold;
    padding-left: 4px;
    
}
.futherInner1>div>p>span{
    opacity: 0.7; 
    padding-left: 4px;
}


.futersoc>img{
    border-radius: 50%;
    margin-right: 5px;
}

.futersoc{
    position: absolute;
    right: 15%;
    bottom: 20px;
}
.futersoc>p{
    color: #484849;
    opacity: 0.8; 
    padding-left: 4px;
}
@media screen and (max-width: 1412px){
    .header{
        height: 105px;
        margin-left: 2px;
        margin-left: 2px;
    }
    .form{
        margin-left: 21%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 750px;
       
    }
    .search>button{
        bottom: 100px;
        left: 150px;
        margin-top: 20px;
        width: 180px;
        border-radius: 30px;
        display: inline;
        position: sticky;
     }
    .main{
        margin-top: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-basis:150px; 
       flex-wrap: wrap;
        width: 100%;
        margin: 2px;
        
    }
    .mainImg>img{
        position: relative;
        z-index: -1;
        width: 90%;
        display: inline;
        opacity: 0.5; 
    }
    .button{
        position: absolute;
        display: inline;
    }
    .mainInner1{
       margin-left: 35px;
    }
    
    .mainInner2{
        display: flex;
        padding-right:2px;
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
        width: 380px;
        height: 180px;
        position: absolute;
        
    }
    
    .mainInner2>div>p>span{
        opacity: 1;
        color: #000;
    }
    .mainInner1>p{
        opacity: 1;
        color: #000;
    }
    .mainInner1>p>span{
        opacity: 1;
        color: #000;
        
    }
    .mainInner2>div>p{
        opacity: 1;
        color: #000;
    }
    h5{
        font-size: 2;
        opacity: 1;
        color: #000;  
    }
    h3{
        opacity: 1;
        color: #000;
    }
    h4{
        font-size: 3;
        opacity: 1;
        color: #000;
    }
    .futer{
        display: block;
        height: auto;
        position: relative;
    }
    .futer>.icon{
        margin-top: 65px;

    }
    .futherInner2{ 
        display: block;
        height: auto;
        
    }
    .futersoc{
        position: absolute;
        top: 0;
    }
    .futherInner>div>p{
        opacity: 1;
        color: #000;
    }
    .futherInner>div>p>span{
        opacity: 1;
        color: #000;
    }
}



.headerPaje1{
    width: 100%;
    height: 50px;
    margin-bottom: 25%;
}

.headerPaje1>img{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.mainPaje1{
    margin-left: 15%;
    margin-right: 15%;
}
.mainInnerP>p{
    font-size: 14;
    text-align: justify;
}
h1{
    padding-bottom: 15px;
    opacity: 0.8;
    font-weight: lighter;
}
.mainInnerPaje{
    height: 305px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 100px;

}
.forBtn{
    position: relative;
}

.mainPageImg{
    border-radius: 20px;
    overflow: hidden;

}

.mainInnerP{
    text-align: justify;
    height: 200px;
    position: relative;
    font-size: 14px; 
    width: 42%;
    margin: 0;
}
.coll{
    margin-top: 20px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    bottom: 0px;
    left: 0;
}
@media screen and (max-width: 1400px){
    .header{
        height: 100px;
    }
    .nav{
        margin-left: 15%;
        margin-top: 50px;
    }

    .mainPaje1{
        margin-left: 25%;
        margin-right: 2%;
        
    }

    .futer{
        height: 300px;
    }
    .futersoc{
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 1340px){
    .header{
        height: 120px;
    }
    .icon{
        margin-top: 0;
    }
    .nav{
        font-size: 12px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .mainInnerPaje{
        display: block;
        height: 100%;
    }
    
    .mainInnerP{
        width: 95%;
    }
    .coll{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .mainInnerP>p{
        margin-bottom: 15px;
    }
    .mainInnerPaje{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .futersoc{
        right: 2px;
        margin-top: 6px;
    }
}

@media screen and (max-width: 590px){
    .mainPageImg{
        width: 200px;
    }
    .mainPageImg>img{
        width: 100%;
    }
    .mainInnerP {
       height: 330px;
    }

.futer{
    height:500px;
    }
    .futer>.icon{
        margin-top: 85px;
    }
    .futer>.futherInner1{
margin-top: 140px;
    }
}

    
    


